@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
div {
  margin: 0px;
  padding: 0px
}

.topbar {
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 10vh;
  font-size: 5vh;
  background-color: white;
}
.link {
  text-decoration : none;
}
a:link {
  color: #194D33;
}
a:visited {
	color: #194D33;
}
a:hover {
	color: #194D33;
}
a:active {
	color: #194D33;
}

.content {
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  height:89vh;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("dynmap-rucerachiea.png"); /* The image used */
  font-size: 10vh;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* 테두리 효과 */
  font-family: 'Noto Sans KR', sans-serif;
}

.downbar {
  height: 5vh;
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  border-top-style: solid;
  border-top-width: 1px;
}
/* 구글 폰트 불러오기 */
